defaults: &defaults
  docker:
    - image: circleci/android:api-28-node
  working_directory: ~/code
  environment:
    JVM_OPTS: -Xmx3200m
    TERM: dumb

version: 2
jobs:

  build:
    <<: *defaults
    steps:
    - checkout

    - restore_cache:
        key: jars-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/constants.gradle" }}-{{ checksum "compat/build.gradle" }}-{{ checksum "library/build.gradle" }}-{{ checksum "demo/build.gradle" }}

    - run:
        name: Download Dependencies
        command: ./gradlew androidDependencies

    - run:
        name: Assemble Plugin
        command: ./gradlew :plugin:assemble
    - run:
        name: Assemble NOOP Debug
        command: ./gradlew :noop:assembleDebug

    - run:
        name: Assemble COMPAT SupportDebug
        command: ./gradlew :compat:assembleSupportDebug
    - run:
        name: Assemble LIBRARY SupportDebug
        command: ./gradlew :library:assembleSupportDebug
    - run:
        name: Assemble DEMO SupportDebug
        command: ./gradlew :demo:assembleSupportDebug

    - run:
        name: Assemble COMPAT AndroidxDebug
        command: ./gradlew :compat:assembleAndroidxDebug -Pandroid.useAndroidX=true -Pandroid.enableJetifier=true
    - run:
        name: Assemble LIBRARY AndroidxDebug
        command: ./gradlew :library:assembleAndroidxDebug -Pandroid.useAndroidX=true -Pandroid.enableJetifier=true
    - run:
        name: Assemble DEMO AndroidxDebug
        command: ./gradlew :demo:assembleAndroidxDebug -Pandroid.useAndroidX=true -Pandroid.enableJetifier=true

    - save_cache:
        paths:
          - ~/.gradle
        key: jars-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/constants.gradle" }}-{{ checksum "compat/build.gradle" }}-{{ checksum "library/build.gradle" }}-{{ checksum "demo/build.gradle" }}

  report:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          key: jars-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/constants.gradle" }}-{{ checksum "compat/build.gradle" }}-{{ checksum "library/build.gradle" }}-{{ checksum "demo/build.gradle" }}

      - run:
          name: Lint report LIBRARY SupportDebug
          command: ./gradlew :library:lintSupportDebug
      - store_artifacts:
          name: Saving Lint report
          path: library/build/reports
          destination: library/reports

      - run:
          name: Lint report DEMO SupportDebug
          command: ./gradlew :demo:lintSupportDebug
      - store_artifacts:
          name: Saving Lint report
          path: demo/build/reports
          destination: demo/reports
      - run:
          name: Sonar report ALL SupportDebug and upload to SonarCloud
          command: ./gradlew :demo:assembleSupportDebug sonarqube -Dsonar.branch.name=${CIRCLE_BRANCH} --info

      - run: echo "Analized branch" ${CIRCLE_BRANCH}

  deploy:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          key: jars-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/constants.gradle" }}-{{ checksum "compat/build.gradle" }}-{{ checksum "library/build.gradle" }}-{{ checksum "demo/build.gradle" }}

      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies

      - run: echo "Deploy job is currently DISABLED"
      #      - run:
      #          name: Deploying...
      #          command: ./gradlew -Prelease.useLastTag=true final

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}-{{ checksum "build.gradle" }}-{{ checksum "gradle/constants.gradle" }}-{{ checksum "compat/build.gradle" }}-{{ checksum "library/build.gradle" }}-{{ checksum "demo/build.gradle" }}

workflows:
  version: 2

  iadt-validation:
    jobs:

    - build:        # Fired by commit on any branch (default) plus any tag
        filters:
          tags:
            only: /.*/

    - report:      # Fired by commit on any branch (default) plus any tag
        requires:
          - build
        filters:
          tags:
            only: /.*/

    - deploy:      # Fired by Github releases (tags on master starting with 'v')
        requires:
          - report
        filters:
          tags:
            only: /^v.*/
          branches:
            only: master