<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.rafaco.devtools" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="es.rafaco.devtools.logic.PermissionActivity"
            android:theme="@style/LibTheme.Dialog"/>

        <activity
            android:label="@string/app_name"
            android:name=".logic.exception.ExceptionActivity"
            android:theme="@style/LibTheme.Dialog"/>

        <service
            android:name="es.rafaco.devtools.DevToolsService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.devtools.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
