<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.rafaco.devtools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".view.activities.PermissionActivity"
            android:theme="@style/LibTheme.Dialog" />
        <activity
            android:name=".logic.crash.CrashActivity"
            android:label="@string/lib_name"
            android:theme="@style/LibTheme.Dialog" />

        <activity android:name=".view.dialog.WelcomeDialogActivity"
            android:theme="@style/LibTheme.Translucent"/>

        <activity android:name=".view.dialog.CrashDialogActivity"
            android:theme="@style/LibTheme.Translucent"/>

        <activity android:name=".view.dialog.ReportDialogActivity"
            android:theme="@style/LibTheme.Translucent"/>

        <service android:name=".view.OverlayUIService" />

        <service
            android:name=".view.NotificationUIService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.devtools.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>